# GitHub Actions runner
.runner/
_work/
_diag/
bin/
bin.*/
externals/
externals.*/
actions-runner-linux-x64-*.tar.gz

# Local configs
config.sh
env.sh

# Helper scripts (可選)
run.sh
safe_sleep.sh
svc.sh


#Node.js/React
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

#System
AppData/
*.log 
*.tmp
*.swp
.DS_Store
Thumbs.db

#Python
__pycache__/
*.pyo
*.pyc
*.pyd

#Django
db.sqlite3
.env
staticfiles/
media/
.venv/
venv/

#Test
coverage/
.cache/
*.bak
*.old

#IDE
.vscode/
.idea/

#Ssh
*.pem
*.key
*.pub
*.crt
id_rsa*
*rsa*