apiVersion: batch/v1
kind: Job
metadata:
  name: django-migrate
spec:
  backoffLimit: 6
  ttlSecondsAfterFinished: null
  template:
    spec:
      containers:
      - name: migrate
        image: check-app-backend:latest
        imagePullPolicy: IfNotPresent
        command: ["python", "manage.py", "migrate"]
        envFrom:
        - secretRef:
            name: backend-secret  
      restartPolicy: OnFailure
