apiVersion: batch/v1
kind: Job
metadata:
  name: django-migrate
spec:
  backoffLimit: 3
  ttlSecondsAfterFinished: 600
  template:
    spec:
      containers:
      - name: migrate
        image: check-app-backend:latest
        imagePullPolicy: IfNotPresent
        command: ["python", "manage.py", "migrate"]
        envFrom:
        - secretRef:
            name: backend-secret
      restartPolicy: OnFailure
