name: CI/CD Pipeline
on:
  push:
    branches: ["master"]
jobs:
    build-and-deploy:
      runs-on: self-hosted
      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Kind create cluster
          run: |
            kind create cluster --name check-cluster --config kind-config.yaml

        - name: Docker build image
          run: |
           docker build -t check-app-backend:latest ./backend
           docker build -t check-app-frontend:latest ./frontend

        - name: Kind load docker-image
          run: |
           kind load docker-image check-app-backend:latest --name check-cluster
           kind load docker-image check-app-frontend:latest --name check-cluster
        
        - name: Kubectl apply k8s
          run: |
           kubectl apply -f k8s/

        - name: Wait for postgres
          run: |
           kubectl rollout status deployment/postgres-deployment --timeout=180s

        - name: Wait for backend
          run: |
           kubectl rollout status deployment/backend-deployment --timeout=180s

        - name: Django  migrate
          run: |
           kubectl delete job django-migrate --ignore-not-found
           kubectl apply -f k8s/jobs/migration-job.yaml
           kubectl wait --for=condition=complete job/django-migrate --timeout=120s
        